<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-col>stepCount: {{stepCount}}</ion-col>
  </ion-list>
  <ion-list>
    <ion-col>distancet: {{distance}}</ion-col>
  </ion-list>
  <ion-button *ngIf="!start" (click)="fnGetPedoUpdate()" expand="full" outline round block icon-right >Start</ion-button>
  <ion-button *ngIf="start" (click)="fnStopPedoUpdate()" expand="full" outline round block icon-right color="danger">Stop</ion-button>

</ion-content>
